################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.v1
*.suo
*.dll
/Authentication.Infrastructure/obj
/obj
*.pdb
*.json
.vs
*.cache

Authentication.Domain/obj/

.vs/Authentication/v17/fileList.bin

Authentication.Application/obj/

.vs/Authentication/v17/

Authentication.Tests/obj/Debug/net6.0/

Authentication.Tests/
